# /etc/systemd/system/aweffr_com.service

[Unit]
Description=aweffr blog site service
Documentation=https://github.com/aweffr/aweffr_com
After=network.target

[Service]
User=aweffr
WorkingDirectory=/data/aweffr_com_prod
Environment=DJANGO_SETTINGS_MODULE=mysite.settings.prod
EnvironmentFile=/etc/aweffr_com/.env
ExecStart=/data/aweffr_com_prod_venv/bin/gunicorn mysite.wsgi -w 3 -b 127.0.0.1:9001 -k gthread --threads 4
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
