@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "bootswatch";


#root {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  main {

    h1 {
      margin-bottom: 2rem;
    }

    img {
      max-width: 1024px;
    }
  }

  .navbar-brand {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }

  .my-nav-link {
    font-weight: normal;

    &.nav-active {
      border-bottom: 1px solid;
    }

    &.nav-inactive {
      border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
  }

  .article-row {
    padding: 0.5rem;

    &:not(:last-child) {
      border-bottom: 2px solid darken(#FFFFFF, 5);
    }
  }

  .article-time {
    font-style: italic;
  }

  .study-subject-row {
    padding: 0.5rem;

    &:not(:last-child) {
      border-bottom: 2px solid darken(#FFFFFF, 5);
    }
  }

  .tweet {
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;

    &:not(:last-child) {
      border-bottom: 2px solid darken(#FFFFFF, 5);
    }

    .tweet-avatar-container {
      max-width: 100px;
      width: 15%;

      & img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .tweet-content-container {
      flex-grow: 1;
      margin-left: 1rem;
    }

    .tweet-image {
      max-width: 560px;

      & img {
        width: 100%;
      }
    }

  }
}
